<div class="m-portlet m-portlet--success m-portlet--head-solid-bg m-portlet--bordered">
    <div class="m-portlet__head">
        <div class="m-portlet__head-caption">
            <div class="m-portlet__head-title">
                <span class="m-portlet__head-icon">
                    <i class="la la-thumb-tack"></i>
                </span>
                <h3 class="m-portlet__head-text">
                    Answers
                </h3>
            </div>
        </div>
        <div class="m-portlet__head-tools">
            <ul class="m-portlet__nav">
                <li class="m-portlet__nav-item">
                    <span
                        class="m-portlet__head-icon"
                        style="cursor:pointer"
                        data-toggle="modal"
                        data-target="#add_answer_modal">
                        <i class="flaticon-add m--font-brand"></i>
                    </span>
                </li>
            </ul>
        </div>
    </div>
    <div class="m-portlet__body">
        <div class="m-widget4 m-widget4--chart-bottom" style="min-height: 350px">
            <div class="m-widget4__item" *ngFor="let answer of answers_by_q_id">
                <div class="m-widget4__ext">
                    <a href="#" class="m-widget4__icon m--font-brand">
                        <i class="flaticon-interface-3"></i>
                    </a>
                </div>
                <div
                    class="m-widget4__info"
                    style="cursor:pointer"
                    (click)="setUpdateAnswer(answer.id)">
                    <span>
                        <inline-editor type="textarea" [(ngModel)]="answer.label" (onSave)="saveEditable($event, 'label')" name="editableText1" size="20"></inline-editor>
                    </span>
                </div>
                <div
                    class="m-widget4__info"
                    style="cursor:pointer"
                    (click)="setUpdateAnswer(answer.id)">
                    <span>
                      <inline-editor type="select" [(ngModel)]="answer.value" (onSave)="saveEditable($event, 'value')" name="editableText1" [options]="[{value: 0, text:'0'},{value: 1, text:'1'}]" value="answer.value" size="20"></inline-editor>
                    </span>
                </div>
                <div
                    class="m-widget4__ext"
                    style="cursor:pointer"
                    data-toggle="modal"
                    data-target="#delete_answer_modal"
                    (click)="setDeleteAnswer(answer.id)">
                    <i class="la la-close"></i>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- start of modal -->
<div class="modal fade" id="add_answer_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <form [formGroup]="addAnswerModel" (ngSubmit)="addAnswer()">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">
                        Add Answer
                    </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">
                            &times;
                        </span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="recipient-name" class="form-control-label">
                            Answer Label:
                        </label>
                        <input type="text" formControlName="label" class="form-control" required>
                    </div>
                    <div class="form-group">
                        <label for="sel1">Answer Value</label>
                        <select class="form-control" id="sel1" formControlName="value">
                            <option value="0">0</option>
                            <option value="1">1</option>
                        </select>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" #closeAddBtn>
                        Close
                    </button>
                    <button type="submit" class="btn btn-primary" [disabled]="!addAnswerModel.valid">
                        Add
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
<!-- end of modal -->

<!-- start of modal -->
<div class="modal fade" id="delete_answer_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <form [formGroup]="deleteAnswerModel" (ngSubmit)="deleteAnswer()">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">
                        Delete Answer
                    </h5>
                </div>
                <div class="modal-body">
                    Are you sure you want to delete this answer?
                    <input type="hidden" formControlName="id">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" #closeDeleteBtn>
                        Close
                    </button>
                    <button type="submit" class="btn btn-danger">
                        Delete
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
<!-- end of modal -->
