<div class="m-grid__item m-grid__item--fluid m-grid m-grid--ver-desktop m-grid--desktop m-body">
    <div class="m-grid__item m-grid__item--fluid m-wrapper">
        <!-- BEGIN: Subheader -->
        <div class="m-subheader ">
            <div class="d-flex align-items-center">
                <div class="m-widget11__action m--align-left">
                    <button
                    type="button"
                    id="openAddModal"
                    class="btn m-btn--pill btn-outline-brand m-btn m-btn--custom"
                    data-toggle="modal"
                    data-target="#add_question_modal">
                        Add Question
                    </button>
                </div>
            </div>
        </div>
    <!-- END: Subheader -->

        <div class="m-content">
            <!--Begin::Main Portlet-->
            <div class="row">
                <div class="col-xl-4">
                    <!--begin:: Widgets/Latest Updates-->
                    <div class="m-portlet m-portlet--full-height m-portlet--fit ">
                        <div class="m-portlet__head">
                            <div class="m-portlet__head-caption">
                                <div class="m-portlet__head-title">
                                    <h3 class="m-portlet__head-text">
                                        Questions
                                    </h3>
                                </div>
                            </div>
                            <div class="m-portlet__head-tools">
                                <ul class="m-portlet__nav">
                                    <li class="m-portlet__nav-item" (click)="backToSection()" style="cursor:pointer">
                                        Back to sections
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="m-portlet__body">
                            <div class="m-widget4 m-widget4--chart-bottom" style="min-height: 350px">
                                <div class="m-widget4__item" *ngFor="let question of questions">
                                    <div class="m-widget4__ext">
                                        <a href="#" class="m-widget4__icon m--font-brand">
                                            <i class="flaticon-interface-3"></i>
                                        </a>
                                    </div>
                                    <div class="m-widget4__info">
                                        <span class="m-widget4__text" [innerHTML]="question.q_name" style="cursor:pointer" (click)="setQuestion(question.id)">
                                        </span>
                                    </div>
                                    <div
                                        class="m-widget4__ext"
                                        style="cursor:pointer"
                                        data-toggle="modal"
                                        data-target="#delete_question_modal"
                                        (click)="setDeleteQuestion(question.id)">
                                        <i class="la la-close"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--end:: Widgets/Latest Updates-->
                </div>
                <div class="col-xl-8" *ngIf="(question_by_id | json) != ({} | json) && questions.length > 0">
                    <form [formGroup]="updateQuestionModel" (ngSubmit)="updateQuestion()">
                        <div class="m-portlet m-portlet--mobile ">
                            <div class="m-portlet__head">
                                <div class="m-portlet__head-caption">
                                    <div class="m-portlet__head-title">
                                        <h3 class="m-portlet__head-text">
                                            Update Questions
                                        </h3>
                                    </div>
                                </div>
                            </div>
                            <div class="m-portlet__body">
                                <!--begin::Portlet-->
                                <div class="m-portlet m-portlet--success m-portlet--head-solid-bg m-portlet--bordered">
                                    <div class="m-portlet__head">
                                        <div class="m-portlet__head-caption">
                                            <div class="m-portlet__head-title">
                                                <span class="m-portlet__head-icon">
                                                    <i class="la la-thumb-tack"></i>
                                                </span>
                                                <h3 class="m-portlet__head-text">
                                                    Question
                                                </h3>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="m-portlet__body">
                                        <div class="form-group">
                                            <label for="recipient-name" class="form-control-label">
                                                Question name:
                                            </label>
                                            <ckeditor
                                                formControlName="q_name"
                                                [readonly]="false"
                                                debounce="500"
                                                required>
                                            </ckeditor>
                                        </div>
                                        <div class="form-group">
                                            <label for="recipient-name" class="form-control-label">
                                                Question Description:
                                            </label>
                                            <ckeditor
                                                formControlName="description"
                                                [readonly]="false"
                                                debounce="500"
                                                required>
                                            </ckeditor>
                                        </div>
                                        <div class="form-group">
                                            <label for="recipient-name" class="form-control-label">
                                                Question explanation:
                                            </label>
                                            <ckeditor
                                                formControlName="content"
                                                [readonly]="false"
                                                debounce="500"
                                                required>
                                            </ckeditor>
                                        </div>
                                        <div class="form-group">
                                            <label for="recipient-name" class="form-control-label">
                                                Weightage:
                                            </label>
                                            <input type="number" formControlName="weightage"class="form-control" required>
                                        </div>
                                        <div class="m-widget11__action m--align-right">
                                            <span>
                                                <button
                                                type="submit"
                                                class="btn m-btn--pill btn-outline-brand m-btn m-btn--custom btn-info"
                                                [disabled]="!updateQuestionModel.valid">
                                                    Save Question
                                                </button>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <!--end::Portlet-->
                            </div>
                        </div>
                    </form>
                    <!--begin::Portlet-->
                    <app-answer [questionId]="current_select_q_id"></app-answer>
                    <!--end::Portlet-->
                </div>
            </div>
        </div>
    </div>
</div>

<!-- start of modal -->
<div class="modal fade" id="add_question_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <form [formGroup]="addQuestionModel" (ngSubmit)="addQuestion()">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">
                        New Question
                    </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">
                            &times;
                        </span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="recipient-name" class="form-control-label">
                            Question name:
                        </label>
                        <ckeditor
                            formControlName="q_name"
                            [readonly]="false"
                            debounce="500"
                            required>
                        </ckeditor>
                    </div>
                    <div class="form-group">
                        <label for="recipient-name" class="form-control-label">
                            Question Description:
                        </label>
                        <ckeditor
                            formControlName="description"
                            [readonly]="false"
                            debounce="500"
                            required>
                        </ckeditor>
                    </div>
                    <div class="form-group">
                        <label for="recipient-name" class="form-control-label">
                            Question explanation:
                        </label>
                        <ckeditor
                            formControlName="content"
                            [readonly]="false"
                            debounce="500"
                            required>
                        </ckeditor>
                    </div>
                    <div class="form-group">
                        <label for="recipient-name" class="form-control-label">
                            Weightage:
                        </label>
                        <input type="number" formControlName="weightage" class="form-control" required>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" #closeBtn>
                        Close
                    </button>
                    <button type="submit" class="btn btn-primary" [disabled]="!addQuestionModel.valid">
                        Add
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
<!-- end of modal -->

<!-- start of modal -->
<div class="modal fade" id="delete_question_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <form [formGroup]="deleteQuestionModel" (ngSubmit)="deleteQuestion()">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">
                        Delete Question
                    </h5>
                </div>
                <div class="modal-body">
                    Are you sure you want to delete this question?
                    <input type="hidden" formControlName="id">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" #closeDeleteModal>
                        Close
                    </button>
                    <button type="submit" class="btn btn-danger">
                        Delete
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
<!-- end of modal -->
