<div class="m-grid__item m-grid__item--fluid m-grid m-grid--ver-desktop m-grid--desktop m-body" *ngIf="!is_display_question">
    <div class="m-grid__item m-grid__item--fluid m-wrapper">
        <!-- BEGIN: Subheader -->
        <div class="m-subheader ">
            <div class="d-flex align-items-center">
                <div class="m-widget11__action m--align-left">
                    <button
                    type="button"
                    class="btn m-btn--pill btn-outline-brand m-btn m-btn--custom"
                    data-toggle="modal"
                    data-target="#create_section_modal">
                    Create new Section
                </button>
            </div>
        </div>
    </div>
    <!-- END: Subheader -->
    <div class="m-content">
        <!--Begin::Main Portlet-->
        <div class="row">
            <div class="col-xl-4">
                <!--begin:: Widgets/Latest Updates-->
                <div class="m-portlet m-portlet--full-height m-portlet--fit ">
                    <div class="m-portlet__head">
                        <div class="m-portlet__head-caption">
                            <div class="m-portlet__head-title">
                                <h3 class="m-portlet__head-text">
                                    Sections
                                </h3>
                            </div>
                        </div>
                    </div>
                    <div class="m-portlet__body">
                        <tree-root [state]="state" (moveNode)="moveNode($event)"[options]="options" [nodes]="sections" #sectionnodes>
                            <ng-template #treeNodeTemplate let-node let-index="index">
                                <div id="node-{{ node.data.order }}" class="m-widget4 m-widget4--chart-bottom" (click)="getQuestionsInSections(node.data.id)">
                                    <div class="m-widget4__item">
                                        <div class="m-widget4__ext">
                                            <i class="flaticon-interface-3"></i>
                                        </div>
                                        <div class="m-widget4__info">
                                            <span class="m-widget4__text" style="cursor:pointer">
                                               <a class="m-widget4__icon m--font-brand">
                                                {{ node.data.name }}
                                            </a>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </ng-template>
                    </tree-root>
                </div>
            </div>
            <!--end:: Widgets/Latest Updates-->
        </div>
        <div class="col-xl-8" *ngIf="current_section_id > 0">
            <div class="m-portlet m-portlet--mobile ">
                <div class="m-portlet__head">
                    <div class="m-portlet__head-caption">
                        <div class="m-portlet__head-title">
                            <h3 class="m-portlet__head-text">
                                Questions
                            </h3>
                        </div>
                    </div>
                </div>
                <div class="m-portlet__body">
                    <div class="m-widget11">
                        <!--begin: list of questions -->
                        <div class="table-responsive">
                            <!--begin::Table-->
                            <table class="table">
                                <tbody>
                                    <tr *ngFor="let question of questions">
                                        <td>
                                            <span class="m-widget11__title" [innerHTML]="question.q_name">
                                            </span>
                                        </td>
                                        <td class="text-center">
                                            Weightage: {{ question.weightage }}
                                        </td>
                                    </tr>
                                </tbody>
                                <!--end::Tbody-->
                            </table>
                            <!--end::Table-->
                        </div>
                        <!--end: list of questions -->
                        <div class="m-widget11__action m--align-right">
                            <span>
                                <button
                                type="button"
                                class="btn m-btn--pill btn-outline-brand m-btn m-btn--custom btn-info"
                                (click)="addQuestion()">
                                Add Question
                            </button>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>
</div>

<!-- start of modal -->
<div class="modal fade" id="create_section_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <form [formGroup]="addSectionModel" (ngSubmit)="addSection()">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">
                        New section
                    </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">
                            &times;
                        </span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="recipient-name" class="form-control-label">
                            Section name:
                        </label>
                        <input type="text" formControlName="name" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="message-text" class="form-control-label">
                            Section description:
                        </label>
                        <textarea formControlName="description" class="form-control"></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" #closeBtn>
                        Close
                    </button>
                    <button type="submit" class="btn btn-primary" [disabled]="!addSectionModel.valid">
                        Save section
                    </button>
                </div>
            </div>
        </div>
    </form>
</div>
<!-- end of modal -->

<app-question [sectionsId]="current_section_id" (displaySection)="sectionDisplay($event)" *ngIf="is_display_question"></app-question>
