<div class="m-grid__item m-grid__item--fluid m-grid m-grid--ver-desktop m-grid--desktop m-body">
    <div class="m-grid__item m-grid__item--fluid m-wrapper">
        <div class="m-content">
            <!--Begin::Main Portlet-->
            <div class="row">
                <div class="col-xl-8">
                    <div class="m-portlet m-portlet--mobile ">
                        <div class="m-portlet__head">
                            <div class="m-portlet__head-caption">
                                <div class="m-portlet__head-title">
                                    <h3 class="m-portlet__head-text">
                                        New Quiz
                                    </h3>
                                </div>
                            </div>
                        </div>
                        <div class="m-portlet__body">
                            <!--begin: preview questions -->
                            <div class="m_datatable" id="m_datatable_latest_orders">
                                <form>
                                    <div class="form-group">
                                        <label for="recipient-name" class="form-control-label">
                                            Quiz name:
                                        </label>
                                        <input type="text" class="form-control" id="section-name">
                                    </div>
                                    <div class="form-group">
                                        <label for="message-text" class="form-control-label">
                                            Quiz description:
                                        </label>
                                        <textarea class="form-control" id="section-description"></textarea>
                                    </div>
                                    <div class="form-group">
                                        <label for="recipient-name" class="form-control-label">
                                            Quiz title:
                                        </label>
                                        <input type="text" class="form-control" id="section-title">
                                    </div>
                                    <div class="m-widget11__action m--align-right">
                                        <span>
                                            <button
                                            type="button"
                                            class="btn m-btn--pill btn-outline-brand m-btn m-btn--custom btn-info">
                                                Preview
                                            </button>
                                        </span>
                                        <span>
                                            <button
                                            type="button"
                                            class="btn m-btn--pill btn-outline-brand m-btn m-btn--custom btn-success">
                                                Save and Continue
                                            </button>
                                        </span>
                                    </div>
                                </form>
                            </div>
                            <!--end: preview questions -->
                        </div>
                    </div>
                </div>
                <div class="col-xl-4">
                    <div class="m-portlet m-portlet--mobile ">
                        <div class="m-portlet__head">
                            <div class="m-portlet__head-caption">
                                <div class="m-portlet__head-title">
                                    <h3 class="m-portlet__head-text">
                                        Preview
                                    </h3>
                                </div>
                            </div>
                        </div>
                        <div class="m-portlet__body">
                            <!--begin: preview questions -->
                            <div class="m_datatable" id="m_datatable_latest_orders">

                            </div>
                            <!--end: preview questions -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
